# *******************
# log configuration
#   output: console or file
#       if output is console, just level is valid
#   level: debug, info, warn, error, fatal
#   path: log file path
#   max-size: maximum size of log file in MB
#   max-age: maximum age of log file in days
#   max-backups: maximum number of backup files
# ********************
log:
  output: console
  level: debug
  path: ../logs
  max-size: 100
  max-age: 30
  max-backups: 10
# *******************
# sync from configuration Center
# *******************
config:
  # *******************
  # sync from [nacos] configuration center
  # id: unique id of the configuration
  # server_addr: nacos server address
  # namespace: namespace of the configuration
  # username: username of the nacos account
  # password: password of the nacos account
  # group: group of the nacosconfiguration
  # property_names: nacos DataId of the configuration , it will be converted to file name ,
  # file_path: file path to store the configuration
  # command: command to execute after the configuration is synchronized
  # *******************
  nacos:
    - id: test-windows
      server_addr: 127.0.0.1:8848
      namespace: xxx
      username: nacos
      password: nacos
      group: DEFAULT_GROUP
      property_names:
        - aaaa.yaml
      file_path: "/usr/local/conf-sync"
      command: echo "Hello, Nacos! windows"
# *******************
# sync from Registration Center
# generate configuration file from template
# *******************
discovery:
  # *******************
  # sync from [nacos] registration center
  # id: unique id of the registration
  # server_addr: nacos server address
  # namespace: namespace of the nacos
  # group: group of the nacos
  # template: template file path,use golang template engine
  # refresh_interval: refresh interval from nacos , unit is second
  # service_names: nacos service name
  # file_path: file path to store the configuration
  # file_suffix: file suffix of the configuration file
  #     file name will be service_name +"."+file_suffix
  # command: command to execute after the configuration is synchronized
  # *******************
  nacos:
    - id: test-windows
      server_addr: 127.0.0.1:8848
      namespace: xxx
      group: DEFAULT_GROUP
      template: ../upstream.tmpl
      refresh_interval: 60
      service_names:
        - xxx
      file_path: "/usr/local/conf-sync"
      file_suffix: conf
      command: echo 'Hello, Nacos Discovery! windows'
